@{
    ViewData["Title"] = "Início";
}

<section class="hero">
    <div class="container">
        <div class="img__container-logo">
            <img src="https://ucienegam.mx/wp-content/uploads/2016/12/Bibioteca-800x400.jpg" alt="">
        </div>
    </div>
</section>

<div class="container">
    <h2 class="titleEntity">Catálogo da Biblioteca</h2>

    <div class="cards">
        <div class="card">
            <div class="image-card">
                <a href="/Publisher"><img src="https://img.icons8.com/fluency/96/000000/company.png"/></a>
            </div>
            <div class="content-card">
                <div>Editora</div>
            </div>
        </div>
         <div class="card">
            <div class="image-card">
                <a href="/Author"><img src="https://img.icons8.com/color/96/000000/edit-user-male--v1.png"/></a>
            </div>
            <div class="content-card">
                <div>Autores</div>
            </div>
        </div>
         <div class="card" >
            <div class="image-card">
                 <a href="/Book"><img src="https://img.icons8.com/color/96/000000/book.png"/></a>
            </div>
            <div class="content-card">
                <div>Livros</div>
            </div>
        </div>

    </div>
</div>

